@model IEnumerable<APMKommune.Models.Service>


@{

    ViewBag.Title = "Tjenester";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />


<a href="#" class="btn btn-primary" id="btnNewService" onclick="AddEditService(0)" style="margin-bottom:30px;margin-top:30px;">Ny Tjeneste</a>

<table class="table table-striped">
    <tr>
        <th>
            Tjeneste
        </th>
        <th> 
            Etat
        </th>
        <th>
        </th>

    </tr>

    <tbody>
        @if (ViewBag.Serviceliste != null)
        {
            foreach (var item in ViewBag.Serviceliste)
            {
                <tr id="row_@item.ServiceId">
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Segment.Name
                    </td>

                    <td>
                        <a hr="#" class="btn  " onclick="ConfirmDelete(@item.ServiceId)"><i class="fa fa-trash-o" aria-hidden="true" style="color:red"></i> </a>
                        <a hr="#" class="btn btnEditService" onclick="AddEditService(@item.ServiceId)"><i class="glyphicon glyphicon-pencil"></i> </a>
                    </td>
                </tr>

            }
        }
    </tbody>

</table>

<input type="hidden" id="hiddenSegmentId" />
<!--Deletemodal-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Er du sikker på at du vil slette denne tjenesten?</h4>
                <div style="text-align:center;display:none " id="loaderDiv">

                    <i class="fa fa-spinner" aria-hidden="true"></i>
                </div>
            </div><!--Body-->
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Avbryt</a>
                <a href="#" class="btn btn-success" onclick="DeleteService()"> Slett</a>
            </div>
        </div>
    </div>
</div>
<!--Slutt på deletemodal-->


<div id="AddAndEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title" id="modalNewSegment"></h4>
            </div>

            <div class="modal-body" id="showModalBodyDiv1">

                @Html.Partial("_AddEditService")

            </div><!--Body-->


        </div>

    </div>
</div>





<script>
    $(document).ready(function () { })

    //ny funksjon
    var ConfirmDelete = function (ServiceId) {
        $("#hiddenSegmentId").val(ServiceId);
        $("#myModal").modal("show");
    }

    //ny funksjon
    var DeleteService = function () {
        $("#loaderDiv").show();

        var SerId = $("#hiddenSegmentId").val();

        $.ajax({
            type: "POST",
            url: "/Service/Delete",
            data: { ServiceId: SerId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#row_" + SerId).remove();
                $("#myModal").modal('hide');
            },
            error: function (xhr, status, error) {
                alert("En feil oppsto ved sletting - " + error);
                $("#loaderDiv").hide();
                $("#myModal").modal('hide');
            }
        })
    }

    ////Ny funksjon
    var ShowSegment = function (ServiceId) {


        $.ajax({
            type: "POST",
            url: "/Service/ShowSegment",
            data: { ServiceId: ServiceId },
            success: function (response) {

                $("#showModalBodyDiv").html(response);
                $("#ShowModal").modal('show');


            }
        })

    }
    //Ny funksjon
    var AddEditService = function (ServiceId) {
        $("#AddAndEdit").modal('show');




        $.ajax({
            type: "POST",
            url: "/Service/AddEditService",
            data: { ServiceId: ServiceId },
            success: function (response) {

                $("#showModalBodyDiv1").html(response);
                $("#AddAndEdit").modal('hide');



            }
        })

    }

    $("#btnNewService").click(function () {
        $(this).data("clicked", true);
        $("#modalNewSegment").html("Legg til ny Tjeneste");
    });

    $(".btnEditService").click(function () {
        $(this).data("clicked", true);
        $("#modalNewSegment").html("Rediger Tjeneste");
    });



</script>